<main class="flex flex-col gap-2 items-center">
  <section class="flex gap-2">
    <button (click)="startRecording()">Grabar</button>
    <button (click)="startVideoRecording()">Grabar video</button>
    <button (click)="stopRecordingAudio()" class="bg-red-400">
      Detener audio
    </button>
    <button (click)="stopRecordingVideo()" class="bg-red-400">
      Detener video
    </button>
  </section>

  <section>
    @if(audioUrl()){
    <audio controls>
      <source [src]="audioUrl()" type="audio/mp3" />
    </audio>
    }
  </section>

  <section>
    @if(videoUrl()){
    <video [src]="videoUrl()" controls></video>
    }
  </section>
</main>
